.task-image {
    float: left;
}

.task-image img {
    /*max-width: 200px;*/
    /*max-height: 100px;*/
}

.modal-dialog {
    width: 95%;
}
.task-view{
    display:block;
}
.task-view:after{
    clear: both;
}
.row {
    margin-right: 0;
    margin-left: 0;
}